.restaurant {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  height: 550px;
  overflow: scroll;
  border: solid 1px darkgreen;
}

.add-restaurant-section {
  position:fixed;
}

.add-restaurant-text-box {
  padding: 10px;
  font-size: 16px;
}

.add-restaurant-button {
  padding: 10px;
  background-color: aquamarine;
  font-weight: 600;
  font-size: 16px;
  border-color: cornflowerblue;
  border-style: wave;
}


