main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 1rem;*/
  box-sizing: inherit;
  position: relative;
}

.new-session-button {
  padding: 1em 1.5em;
  margin: 0 5px;

  border: 1px solid darkgreen;
  border-radius: 5px;

  float: left;
  box-shadow: 0 2px 0 0 black;

  background-color: aquamarine;
  font-size: 18px;
  font-weight: bold;
}
